<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOG_PATH" source="logging.path"/>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/campaign.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="file"/>
    </root>
</configuration>
